<h2>Recettes</h2>
<div>
  <ul class="list_recipes_soap">
  <% @recipes.each do |recette| %>
  <li class="recipe_soap_card">
    <div class="titre_recipe_soap">
      <h3><%= recette.titre %></h3>
      <div class="counter_recipe_soap">
        <span>10</span>
        <div><i class="fa-solid fa-caret-up"></i><i class="fa-solid fa-caret-down"></i></div>
      </div>
    </div>
    <ul>
    <h4>Ingredients</h4>
    <% recette.recipe_soap_ingredients.each do |ing| %>
      <li><%= ing.qty %> g <%= ing.name_ing %></li>
    <% end %>
    </ul>
    <h4>Qté eau</h4>
    <h4>Type d'alcali utilisé Naoh/KOH</h4>
    <h4>Qté soude</h4>
    <h4>% de surgraissage</h4>
  </li>
  <% end %>
</ul>
</div>
