<turbo-frame id="tabs_faq_content">
<% fail %>
  <p>BONJOURNO</p>
</turbo-frame>

<turbo-frame id="view_more_2">
  <p>2</p>
</turbo-frame>

<turbo-frame id="add_tab">
  <div class="tab" data-action="click->tabs-saponification#tabSelect" data-tabs-saponification-target="tabRecipe"><span>Recette #2</span><i class="fa-regular fa-circle-xmark fa-l" data-action="click->tabs-saponification#removeRecipe"></i></div>
</turbo-frame>
