@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
h1,h2,h3,p, label,option, tr,td {
  font-family: "Rubik", sans-serif;
}
body {
  max-width: 1920px;
  padding-left: 2em;
  padding-right: 2em;
  margin: auto;
  padding-bottom: 2em;
  background-color: red;
}
