.tool_saponification_bas {
  .titre_tool {font-size: 1rem;}
  border: solid 1px;
  display: flex;
  gap: 10px;
}
#list_ingredients {
  select {
    display: flex;
    width: 100%;
  }
}
#caracteristiques, #proprietes_savon {
  div {
    display: flex;
    label {width: 80px;}
    input {
      width: 3em; text-align: center;padding: 0;padding-inline: 0;padding-block: 0;
      cursor: not-allowed;
      &:focus {
        outline: none;
      }
    }
  }
}
#tableau_ingredients_selectionnes {
  border: solid 1px;
  width: 25%;
}
.table_ingredients_selectionnes {
  border: solid 1px;
  width: fit-content;
  table {
    thead {
      th {width: 2.5rem; text-align: center;}
      th:first-child {width: 7rem;}
    }
    tbody {
      tr {
        td{
          input {width: 2.5rem; text-align: center;}
        }
        td:first-child {
          input{width: 7rem; text-align: left;}
        }
      }
    }
  }
}
.tabs_all_list {
  border-bottom: 1px;
  display: flex;
  font-family: "Rubik", sans-serif;
  gap: 2px;
  .tabs_list {display: flex; gap: 2px;}
  .tab {
    border: solid 1px;
    min-width: 20px;
    width: auto;
    padding: 5px 10px;
    //background-color: #007A7A;
    background-color: #358E8E;
    border: solid #358E8E;
    color: white;
    &:hover {opacity: 0.9;
    }
    i {margin-left: 5px
    }
  }
}
.tab_contents {
  border: solid 3px blue;
  height: auto;
  width: 100%;
  position: relative;
  height: auto;
  min-height: 50vh;
  height: 100vh;
  .tab_content {
    width: 100%;
    border: solid 1px red;
    height: 100%;
    position: absolute;
    z-index: -5;
    visibility: hidden;
    &.active {
      z-index: 1;
      top: 0;
      //height: 50px;
      visibility: visible;
      height: 100vh;
      h2 {border: solid 3px green;}
    }
  }
  .tab_content:first-of-type {
    background-color: wheat;
  }

}
