.tool_saponification_bas {
  .titre_tool {font-size: 1rem;}
  //border: solid 1px;
  display: grid;
  grid-template-areas:
  "type type"
  "tete tete"
  "tableau tableau"
  ;
  .soudes {
    grid-area: tete;
  }
  .tableaux {
    grid-area: tableau;
    display: flex;
    gap: 1em;
  }
  .types_savon {
    grid-area: type;
  }
  //gap: 10px;
}
#list_ingredients {
  select {
    display: flex;
    width: 100%;
  }
}
#caracteristiques, #proprietes_savon {
  div {
    display: flex;
    label {width: 80px;}
    input {
      width: 3em; text-align: center;padding: 0;padding-inline: 0;padding-block: 0;
      cursor: not-allowed;
      &:focus {
        outline: none;
      }
    }
  }
}
#proprietes_savon {
  label {
    white-space: nowrap;
    min-width: 7em;
  }
}
#caracteristiques {
  padding-right: 15px;
  label {
    white-space: nowrap;
    min-width: 7em;
  }
}
#tableau_ingredients_selectionnes {
  //border-right: solid 1px;
  width: 25%;
}
.table_ingredients_selectionnes {
  //border-right: solid 1px;
  width: fit-content;
  table {
    thead {
      display: flex;
      th {width: 2.5rem; text-align: center;}
      th.tableau_ingredient_name {
        width: 7rem;
      }
      th:first-of-type {width: 1rem;}
      //th:first-child {width: 7rem;}
    }
    tbody {
      tr {
        display: flex;
        align-items: center;
        td{
          input {width: 2.5rem; text-align: center;}
        }

        .table_ingredients_input {width: 7rem; text-align: left;}
      }
    }
  }
}
#caracteristiques, #tableau_ingredients_selectionnes {
  border-right: 1px solid black;
}
.tabs_all_list {
  border-bottom: 1px lightgrey solid;
  display: flex;
  font-family: "Rubik", sans-serif;
  gap: 2px;
  .tabs_list {display: flex; gap: 2px;}
  .tab {
    cursor: pointer;
    border: solid 1px;
    min-width: 20px;
    width: auto;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    //background-color: #007A7A;
    //background-color: #358E8E;
    border: solid black 1px;
    color: black;
    &:hover {opacity: 0.9;
    }
    i {margin-left: 5px
    }
    &.active {
      background-color: #358E8E;
      border: solid #358E8E;
      color: white;
      .fa-regular {display: none;}
    }
  }
}
.tab_contents {
  //border: solid 3px blue;
  height: 100%;
  width: 100%;
  position: relative;
  height: auto;
  min-height: 50vh;
  height: 550px;;
  //height: 100vh;
  .tab_content {
    width: 100%;
    //display: contents;
    //border: solid 1px red;
    height: auto;
    position: absolute;
    z-index: -5;
    visibility: hidden;
    &.active {
      z-index: 1;
      top: 0;
      //height: 50px;
      visibility: visible;
      height: auto;
      h2 {}
    }
  }
  .tab_content:first-of-type {
    //background-color: wheat;
  }

}
.liste_ingredients_options {
  display: flex;
  text-align: center;
  height: 100%;
  select {
    option {
      height: 1.5em;
      align-items: center;
      display: flex;
    }
    option:hover,
    option:focus,
    option:active,
    option:checked {
      background-color: #358E8E;
      color: white;
    }
  }
}
.ingredients_options {
}

#faq {
  margin-top: 5em;
  h2 {
    font-weight: 400;
  }
}
#list_faq {
  //border: solid 1px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:1em;
  details summary::marker {
    display: none;
    content: "";
   }
   .faq_titre {
    gap: 5px;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin: 0;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
   }
   details {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 15px 15px 15px;
    height: fit-content;
   }
}
.information {
  position: relative;
  margin-left: 5px;
  & > span {
    visibility: hidden;
    position: absolute;
    border: solid 1px;
    width: 0;
    height: 0;
    padding: 5px;
    width: auto;
    bottom: 0px;
    min-width: 15em;
    background-color: white;
    color:black;
  }
  &:hover {
    span {
      visibility: visible;
      width: auto;
      height: auto;
      font-size: 0.8em;
    }
  }
}
.fa-triangle-exclamation {
  color:#ef6d6d;
}

.types_savon {
  gap: 3px;
  padding: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  .titre_tool {width: 100%;margin-bottom: 0;}
  .btn_savon_choix {
    border: solid 2px #358E8E;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 0em 1em;
    cursor: pointer;
    span {font-size: 0.8em; font-family: "Rubik", sans-serif;}
    &.checked, &:hover {
      background-color: #358E8E;
      color: white;
      img {filter: invert(1)}
    }
  }
}
.naoh_koh_results {
  display: flex;
  gap: 8px;
  margin-top: 0.5em;
  font-size: 0.9em;
}
.select_choice_savon_method {
  border: solid 2px transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  p {margin: 0;}
  div {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &.naoh {}
  &.koh {}
  &.selected {
    border: solid 2px #358E8E;
    border-radius: 3px;
    background-color:#358E8E;
    color: white;
  }
  &.not_selected {
    opacity: 0.3;
  }
}

#tabs_faq_saponification {
  display: flex;
  margin-top: 4em;
  gap:5px;
  .tab_faq_saponification {
    h2 {font-weight: 400; margin: 0;}
    border: solid 1px;
    padding: 2px 10px;
    font-size: 0.8em;
  }
}
#tabs_faq_saponification_contents {
  border: solid 1px;
  height: auto;
  position: relative;
  display: block;

}
.tab_faq_saponification_content {
  border: solid 1px;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  z-index:-1;
  visibility: hidden;
  height: 0;
  &.visible {
    z-index:1;
    height: auto;
    visibility: visible;
    display: contents;
  }
}
