.tool_saponification_bas {
  .titre_tool {font-size: 1rem;
    &.light {font-weight: 400!important;}
  }
  //border: solid 1px;
  display: grid;
  grid-template-areas:
  "type type"
  "tete tete"
  "tableau tableau"
  "proprietes proprietes"
  "recap recap"
  ;
  .soudes {
    grid-area: tete;
    & >div {
      display: flex;
      gap: 10px;
      //grid-template-columns: 1fr 1fr 1fr;
      & > div {
        width: fit-content;
        & > div {
          padding: 5px 0;
          display: flex;
          justify-content: space-between;
          input {width: 5em;}
        }
      }
    }
  }
  .tableaux {
    grid-area: tableau;
    display: flex;
    //gap: 1em;
  }
  .types_savon {
    grid-area: type;
  }
  .proprietes_ingredients_selectionnes {
    border: solid 1px;
    grid-area: proprietes;
  }
  //gap: 10px;
}
#list_ingredients {
  display: flex;
  flex-direction: column;
  select {
    display: flex;
    width: 100%;
  }
}
#caracteristiques, #proprietes_savon {
  div {
    display: flex;
    label {min-width: 9em;}
    input {
      width: 3em; text-align: center;padding: 0;padding-inline: 0;padding-block: 0;
      background-color: white;
      color: black;
      border: solid 1px lightgrey;
      cursor: not-allowed;
      &:focus {
        outline: none;
      }
    }
  }
}
#proprietes_savon {
  label {
    white-space: nowrap;
    min-width: 7em;
  }
}
#caracteristiques {
  padding-right: 15px;
  label {
    white-space: nowrap;
    min-width: 7em;
  }
}
#tableau_ingredients_selectionnes {
  //border-right: solid 1px;
  width:auto;
  max-width: 30%;
  width: min-content;
}
.table_ingredients_selectionnes {
  //border-right: solid 1px;
  width: fit-content;
  table {
    thead {
      display: flex;
      tr {display: grid;
        grid-template-columns: 20px 140px 60px 80px;
        gap: 5px;
      }
      th {width: 100%; text-align: center; justify-content: center;display: flex;
        i {visibility: hidden;}
      }
      th.left {justify-content: flex-start;}
      th.tableau_ingredient_name {
        //width: 7rem;
      }
      th:first-of-type {width: 1rem;}
      //th:first-child {width: 7rem;}
    }
    tbody {
      tr {
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 20px 140px 60px 80px;
        gap: 5px;
        td:first-of-type > input {border: none;}
        td{
          display: flex;
          width: 100%;
          input {display:flex;width:100%; text-align: center;}
        }
        td.left {justify-content: flex-start;}

        .table_ingredients_input {display:flex;width:100%; text-align: left;}
      }
    }
  }
  .total_recipe_ingredients {
    td {display: flex; justify-content: center;}
    span {display: flex; width: 100%;justify-content: center;}
    i {visibility: hidden;}
  }
  .ing_to_get {
    td input {border: solid 1px !important;}
  }
}
#caracteristiques, #tableau_ingredients_selectionnes {
  border-right: 1px solid black;
}
.tabs_all_list {
  border-bottom: 1px lightgrey solid;
  display: flex;
  font-family: "Rubik", sans-serif;
  gap: 2px;
  .tabs_list {display: flex; gap: 2px;}
  .tab {
    cursor: pointer;
    border: solid 1px;
    min-width: 20px;
    width: auto;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    //background-color: #007A7A;
    //background-color: #358E8E;
    border: solid black 1px;
    color: black;
    &:hover {opacity: 0.9;
    }
    i {margin-left: 5px
    }
    &.active {
      background-color: #358E8E;
      border: solid #358E8E;
      color: white;
      .fa-regular {display: none;}
    }
  }
}
.tab_contents {
  //border: solid 3px blue;
  height: 100%;
  width: 100%;
  position: relative;
  height: auto;
  min-height: 50vh;
  height: 700px;;
  //height: 100vh;
  .tab_content {
    width: 100%;
    //display: contents;
    //border: solid 1px red;
    height: auto;
    position: absolute;
    z-index: -5;
    visibility: hidden;
    &.active {
      z-index: 1;
      top: 0;
      //height: 50px;
      visibility: visible;
      height: auto;
      background-color: white;
      h2 {}
    }
  }
  .tab_content:first-of-type {
    //background-color: wheat;
  }

}
.liste_ingredients_options {
  display: flex;
  text-align: center;
  height: 100%;
  select {
    max-height: 400px;
    option {
      height: 24px;
      align-items: center;
      display: flex;
      &.ingredient_add_to_recipe {
        background-color: grey;
        color: white;
      }
    }

    option:hover,
    option:focus,
    option:active,
    option:checked {
      background-color: #358E8E;
      color: white;
    }
  }
}
.ingredients_options {
}


#list_faq {
  //border: solid 1px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:1em;
  details summary::marker {
    display: none;
    content: "";
   }
   .faq_titre {
    gap: 5px;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin: 0;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
   }
   details {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 15px 15px 15px;
    height: fit-content;
   }
}
.information {
  position: relative;
  margin-left: 5px;
  & > span {
    visibility: hidden;
    position: absolute;
    border: solid 1px;
    width: 0;
    height: 0;
    padding: 5px;
    width: auto;
    bottom: 0px;
    min-width: 15em;
    background-color: white;
    color:black;
  }
  &:hover {
    span {
      visibility: visible;
      width: auto;
      height: auto;
      font-size: 0.8em;
    }
  }
}
.fa-triangle-exclamation {
  color:#ef6d6d;
}

.types_savon {
  gap: 2em;
  padding: 0.5em 0;
  //display: flex;
  //flex-wrap: wrap;

  display: grid;
  grid-template-columns: 20% 65% 10%;

  .savons_type_select {display: flex; gap:3px}
  .message_alert_alcali {
    position: relative;
    max-width: 80%;
    width: 100%;
    background-color: white;
    .message_alert_alcali_type {
      display: flex;
      background-color: white;
      width: 100%;
      position: absolute;
      left: 0;
      z-index: -2;
      height: 100%;
      gap:10px;
      img {width: 4em;object-fit: contain;}
      &.naoh {}
      &.koh {}
      &.lessive {}
      &.visible {z-index: 1;}
      p {margin: 0;}
    }
  }
  .titre_tool {width: 100%;margin-bottom: 0; margin: 0;
  }
  .btn_savon_choix {
    border: solid 2px #358E8E;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 0em 1em;
    cursor: pointer;
    span {font-size: 0.8em; font-family: "Rubik", sans-serif;}
    &.checked, &:hover {
      background-color: #358E8E;
      color: white;
      img {filter: invert(1)}
    }
  }
}
.naoh_koh_results {
  display: flex;
  gap: 8px;
  margin-top: 0.5em;
  font-size: 0.8em;
}
.select_choice_savon_method {
  border: solid 2px transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  p {margin: 0;}
  div {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &.naoh {}
  &.koh {}
  &.selected {
    //border: solid 2px #358E8E;
    //border-radius: 3px;
  }
  &.not_selected {
    opacity: 0.3;
  }
}

.input_lessive_concentration, .lessive_soude_result {
  visibility: hidden;
  height: 0;
  width: 0;
  &.visible {
    visibility: visible;
    height: auto;
    width: auto;
  }
}

#tabs_faq_saponification {
  display: flex;
  margin-top: 20em;
  //gap:2px;
  border-bottom: 1px solid lightgray;
  .tab_faq_saponification {
    h2 {font-weight: 400; margin: 0;font-size: 1.3em;}
    border: solid 1px lightgrey;
    border-bottom: 0;
    padding: 2px 10px;
    font-size: 0.8em;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    &.selected {
      background-color: #358E8E;
      border: solid 1px #358E8E;
      color: white;
    }
  }
}
#tabs_faq_saponification_contents {
  //border: solid 1px;
  margin-top: 1em;
  height: auto;
  position: relative;
  display: block;

}
.tab_faq_saponification_content {
  border: solid 1px;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  z-index:-1;
  visibility: hidden;
  height: 0;
  &.visible {
    z-index:1;
    height: auto;
    visibility: visible;
    display: contents;
  }
}
#ingredients_table {
    border-collapse: collapse;
    //border: 2px solid grey;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    th,td {
      border: 1px solid grey;
      padding: 8px 10px;
    }
    tr {position: relative;
      & > td:first-of-type {background-color: white; position: sticky; left: 0;}
    }
}
.ing_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {text-decoration: none;color:#358E8E}
  .sort_ing {display: flex; flex-direction: column;}
}
.results_tool_saponification {
  //border: solid 1px #358E8E;
  padding: 5px;
  border-radius: 3px;
  div {
  //border-bottom: solid 1px lightgrey;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  //line-height: 1.5em;
  & > div {
    gap: 5px;
  }
  input {
    width: 4em !important;
    text-align: center;
    //border:none;
    background-color: white;
    color:black;
  }
  }
}
.tableaux {
  #list_ingredients,#caracteristiques,#tableau_ingredients_selectionnes,#proprietes_savon, #ingredient_selectionne_attributs {
    padding: 0 10px;
  }
}
.add_ing_button {
  border: solid 1px;
  font-family: "Rubik", sans-serif;
  background-color: #358E8E;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  border-radius: 3px;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 400;
}
.pre_input_ingredient {
  //margin-left: 16px;
}

.list_recipes_soap {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  .recipe_soap_card {
    list-style: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:10px;
    h4 {font-family: "Rubik", sans-serif;margin: 0; font-weight: 400;}
    ul {
      padding: 0;
      list-style-position: inside;
    }
  }
}
.titre_recipe_soap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  border-bottom: 1px solid lightgrey;
  h3 {flex-grow: 1; text-align: center;margin: 0;font-weight: 400;}
  .counter_recipe_soap {
    display: flex;
    align-items: center;
    gap: 0.5em;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}
.form_recipe_soap_hidden_element {
  visibility: hidden;
  height: 0;
}
.save_recipe_soap {
  display: flex;
  width: fit-content;
  align-items: end;
  form {width: 0; height: 0;}
}
.save_soap_recipe_action {
  display: flex;
  width: fit-content;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #358E8E;
  display: flex;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.8em;
  color: white;
  gap: 5px;
  border: solid 1px transparent;
  cursor: pointer;
  &:hover {
    background-color: white;
    border: solid 1px black;
    color: black;
  }
}
.green_label {
  background-color: #358E8E;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  margin-right: 1em;
}
.fa-circle-question {
  span,p{background-color: white; z-index: 1;}
}
.ing_to_get {
  .fa-circle-question {
    cursor: pointer;
  }
}
#ingredient_selectionne_attributs {

  visibility: hidden;
  width: 0;
  height: 0;
  &.open {
    visibility: visible;
    width: auto;
    height: auto;
    min-width: 12em;
    max-width: 12em;
    border-right: solid 1px;
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    .titre_tool {
      text-align: center;
      text-wrap: wrap;
    }
    table {
      width: 100%;
      border: solid 1px;
    }
  }
}
.color_alert {
  &.green {
    background-color: rgb(151, 211, 151) !important;
  }
  &.red {
    background-color: rgb(255, 148, 148) !important;
  }
  &.yellow {
    background-color: rgb(255, 216, 41) !important;
  }
}
.alert_poids {
  height: 0;
  width: 0;
  visibility: hidden;
  &.visible {
  display: flex;
  font-size: 0.8em;
  align-items: center;
  gap: 15px;
  color: red;
  height: auto;
  visibility: visible;
  width: 100%;
  //margin: auto;
  }
}

.tableFixHead { overflow: auto; max-height: 70vh; }
.tableFixHead thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;}
//.tableFixHead thead th { position: sticky; top: 0; z-index: 1; background-color: white; }

.proprietes_ingredients_selectionnes {
  height: 8em;
  div {
    height: 5em;
    overflow-y: auto;
  }
  table,tr,td,th {
    border:1px solid black;border-collapse:collapse;
  }
  th {padding: 0px 10px;}
  td {text-align: center;}
  td:first-child {text-align: left;}
}
.online-chart {
  width: 450px;
}
.blocked {
  background-color: lightgray !important;
  color: lightgray !important;
}
.tableaux {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0fr 1fr 1fr !important;
}

#proprietes_savon {
  input {width: 7em !important;}
}

#ajouts_savon {
  .parfum_argile_add,thead >tr {
    display: grid;
    grid-template-columns: 200px 200px 40px 40px;
    gap: 10px;
    input,select {width: 100%;}
    td:first-child {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
#block_ajouts_and_recap_recette{
  grid-area: recap;
  display: grid;
  grid-template-columns: 30% 70%;
  #ajouts_savon {
  }
  #recap_recette {
    div {
      display: grid;
      grid-template-columns: 200px 70px 200px 70px;
      column-gap: 10px;
      row-gap: 5px;
    }
  }
}
